.mainHeader{
    
    display: flex;
    justify-content:space-evenly;
    color: #E0E0E0 ;
    box-shadow: 4px 6px 4px 6px black;
}
.main-detail-header{
    min-height: 100vh;
    padding: 1%;
    font-size: calc(10px + 2vmin);
    color: #E0E0E0 ;
    padding:2%;
}
.centerHeader{
    font-size: medium;
    padding-left: 40%;
    cursor: pointer;
}
.connect-button{
    padding:0.5%;
}
.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.convert-form{
   
 padding:2%;
    border-radius: 20px;
    /* box-shadow: 10px 10px 10px rgba(101, 79, 79, 0.15) inset; */
    /* padding: 10%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
     border: 1px solid rgba(163, 158, 158, 0.5); 
    justify-content: center;
}
.form-head{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}
.form-content{
    height:200px;
    padding-top: 8%;
display: flex;
flex-direction: column;
width: 380px;
justify-content: space-between;
align-items: center;
}
.form-input{
    border-radius: 5px;
    /* background-color: #2f2d2d; */
    background: transparent;
    border: none;
  box-shadow: none !important;
    /* border: 1px solid white; */
    background-color: #b9b8c6;
    opacity:0.5;
    width: 280px;
    height:38px;
    color:#2B2A3A;  
    font-size: large; 
}
.form-content-modal{
    height:230px;
    padding-top: 8%;
display: flex;
flex-direction: column;
width: 380px;
justify-content: space-between;
align-items: center;
}
input[type='text']::placeholder
{   
    padding-left: 4%;
    color:#2B2A3A;    
    font-size: large;
     /* for Chrome, Firefox, Opera */
}
.Verify-container{
    padding:2%;
    border-radius: 20px;
    /* box-shadow: 10px 10px 10px rgba(101, 79, 79, 0.15) inset; */
    /* padding: 10%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: center; 
}
.button-verify{
    height:100px;
    padding-top: 8%;
display: flex;
flex-direction: column;
width: 380px;
justify-content: space-between;
align-items: center;
}