.App{
  background-color: #2B2A3A;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-detail-header{
  padding: 2%;
}
.nav-container{
  padding-bottom: 2%;
}

/* .private-container{
width:inherit;
padding:3%;
border: 0.5px solid #E69D72;
scrollbar-width: thin;
overflow-y: auto;
max-height: 500px;
} */

.private-container{
  width:inherit;
  padding:3%;
  border: 0.5px solid #282c34;
  box-shadow:  2px 2px 2px 2px black;
  scrollbar-width: thin;
  overflow-y: auto;
  max-height: 500px;
 
  }

.verify-content{
  font-size: large;
  color:#b9b8c6;
  padding-bottom: 2%;
}
.verify-content-flex{
  font-size: medium;
  color:#b9b8c6;
  display:flex;
  flex-direction: column;
  padding-top: 1%;
}

.verify-content-flex-inner{
  font-size: medium;
  color:#b9b8c6;
  display:flex;
  flex-direction: column;
  padding-left: 1%;
  padding: 2%;
  width: 350px;
}

.content-container{
  border: 0.5px solid black;
  box-shadow: 6px 6px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

::-webkit-scrollbar {
  width: 13px;
  height: 16px; }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
